<div class="ghost-list ghost-list-vertical ghost-list-split">
    <div class="ghost-spin-nested-loading">
        <div class="ghost-spin-container">
            <div class="ghost-list-item">
                <div class="ghost-list-item-main">
                    <div class="ghost-list-item-meta">
                        <div class="ghost-list-item-meta-content">
                            <div class="ghost-pro-components-article-list-content-index-listContent">
                                <h4 class="ghost-list-item-meta-title">
                                    Block Chain Developer Report Donec ullamcorper fringilla. Aenean eu leo quam
                                </h4>
                            </div>
                        </div>
                    </div>
                    <ul class="ghost-list-item-action">
                        <li>
                            <span>
                                <svg class="iconSvg" aria-hidden="true">
                                    <use xlink:href="#icon-liulan"></use>
                                </svg>
                                256
                            </span>
                            <em class="ghost-list-item-ghostion-split"></em>
                        </li>
                        <li>
                            <span>
                                <svg class="iconSvg" aria-hidden="true">
                                    <use xlink:href="#icon-iconfontedit"></use>
                                </svg>
                                128
                            </span>
                            
                        </li>
                    </ul>
                </div>
                <div class="ghost-list-item-extra">
                    <div class="ghost-list-item-meta-avatar">
                        <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image">
                            <img src="/images/header_icon.png">
                        </span>
                        <em>DK</em>
                        <p style="margin-top:8px; font-size: 12px">2019-03-18</p>
                    </div>
                </div>
            </div>
            <div class="ghost-list-item">
                <div class="ghost-list-item-main">
                    <div class="ghost-list-item-meta">
                        <div class="ghost-list-item-meta-content">
                            <div class="ghost-pro-components-article-list-content-index-listContent">
                                <h4 class="ghost-list-item-meta-title">
                                    Block Chain Developer Report Donec ullamcorper fringilla. Aenean eu leo quam
                                </h4>
                            </div>
                        </div>
                    </div>
                    <ul class="ghost-list-item-action">
                        <li>
                            <span>
                                <svg class="iconSvg" aria-hidden="true">
                                    <use xlink:href="#icon-liulan"></use>
                                </svg>
                                256
                            </span>
                            <em class="ghost-list-item-ghostion-split"></em>
                        </li>
                        <li>
                            <span>
                                <svg class="iconSvg" aria-hidden="true">
                                    <use xlink:href="#icon-iconfontedit"></use>
                                </svg>
                                128
                            </span>
                            
                        </li>
                    </ul>
                </div>
                <div class="ghost-list-item-extra">
                    <div class="ghost-list-item-meta-avatar">
                        <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image">
                            <img src="/images/header_icon.png">
                        </span>
                        <em>DK</em>
                        <p style="margin-top:8px; font-size: 12px">2019-03-18</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>