<div class="ghost-card" style="margin-bottom: 16px">
    <div class="ghost-card-head">
        <div class="ghost-card-head-wrapper">
            <div class="ghost-card-head-title">
                <span>Notice</span>
            </div>
            <div class="ghost-card-extra">
                <a href="javascript:;">More</a>
            </div>
        </div>
    </div>
    <div class="ghost-card-body">

    </div>
</div>