<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/style/account/account.css">
        <link rel="stylesheet" href="/style/common/avatar.css">
        <link rel="stylesheet" href="/style/account/appChangeUserInfo.css">
        <script type="text/javascript" src="/js/lang/zh.js"></script>
        <script type="text/javascript" src="/js/lang/en.js"></script>
        <% include ../../common/script %>
    </head>
    <body>

        <div class="app-change-userInfo-page">
            <% include ../../common/appHeader %>
            <section class="">
                <form class="ghost-form ghost-form-horizontal" id="appChangeEmail">
                    <div class="ghost-form-item">
                        <div class="ghost-form-item-label">
                                <label for="oldEmail" class="new－ghost-form-item-required" title="Old email" lang="oldEmail">旧邮箱</label>
                        </div>
                        <div class="ghost-form-item-control-wrapper">
                            <div class="ghost-form-item-control">
                                <div class="ghost-form-item-children">
                                    <input type="email" placeholder="Please enter the old email" required name="oldEmail" id="oldEmail" class="ghost-input ghost-input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ghost-row ghost-form-item">
                        <div class="ghost-form-item-label">
                            <label for="newEmail" class="new－ghost-form-item-required" title="New eamil" lang="newEmail">新邮箱</label>
                        </div>
                        <div class="ghost-form-item-control-wrapper">
                            <div class="ghost-form-item-control">
                                <div class="ghost-form-item-children">
                                    <input type="email" placeholder="Please enter a new email" required name="newEmail" id="newEmail" class="ghost-input ghost-input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="app-footer app-display">
                        <button class="app-btn ghost-btn-primary btn_submit" lang="confirmChange">确认修改</button>
                    </footer>
                </form>
            </section>
        </div>
    </body>
    <script src="/js/jquery.imgareaselect.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="https://cdn.bootcss.com/rxjs/6.4.0/rxjs.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.0-beta.12/Rx.min.js"></script>
    <script type="text/javascript">
        $(function() {
            // app title
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('Change E-mail')
            } else {
                $('.app-page-title').text('修改邮箱')
            }
            $("#appChangeEmail").validate({
                onfocusin: function(element) { $(element).valid() },
                onfocusout: function(element) { $(element).valid() },
                onkeyup: function(element) { $(element).valid() },
                focusInvalid: function(element) { $(element).valid() 
                    console.log('focusInvalid' + element.id)
                },
                debug: true,
                submitHandler: function(form) {
                    const params = {
                        userId: $.cookie("userId"),
                        oldEmail: $('#oldEmail').val(),
                        newEmail: $('#newEmail').val(),
                    }
                    myAjax("POST", "account/resetEmail", params).then((res) => {
                        layer.msg(res.message)
                        if (res.code == 10000) {
                            setTimeout(function() {
                                history.go(-1)
                            }, 2000)
                        } 
                    })
                },
                errorElement: 'div',
                errorClass:"ghost-form-explain",
                highlight: function(element, errorClass, validClass) {
                    console.log(element.id)
                    const elementId = $(`#${element.id}-error`)
                    // $(elementId).parents().addClass('ghost-form-item-with-help')
                    $(elementId).addClass("ghost-form-explain")
                    $(elementId).parent().addClass('has-error')
                },
                unhighlight:function(element, errorClass){
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).parent().removeClass('has-error').addClass('has-success')
                    $(elementId).parents().removeClass('ghost-form-item-with-help')
                },
                rules: {
                    oldEmail: {
                        required: true,
                        email: true
                    },
                    newEmail: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    oldEmail:  "请输入旧邮箱",
                    newEmail:  "请输入新邮箱",
                }
            });
            translateFun()
        })
    </script>
</html>