<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/style/download/download.css">
    </head>
    <body>
        <div id="download">
            <header class="app-download-header">
                <div class="app-download-header-box">
                    <div class="app-download-header-left">
                        <img src="/images/back.png" alt="">
                    </div>
                    <div class="app-download-header-mid"></div>
                    <div class="app-download-header-right"></div>
                </div>
            </header>
            <section class="app-download-comment">
                <div class="app-logo-icon">
                    <img src="/images/download_logo.png" alt="">
                    <p class="content-text">IM即时通讯</p>
                </div>
                <div class="app-download-btn-box">
                    <p class="app-version app-tip-text">版本：2.0.0</p>
                    <p class="app-size app-tip-text">大小：24.0M</p>
                </div>
            </section>
        </div>
    </body>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            var appendDom = $(".app-version")
            var u = navigator.userAgent
            alert(u)
            $(".download-btn").remove();
            if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//安卓手机
                alert("安卓手机")
                var btnDom = `
                    <button class="download-btn android-download" type="button">
                        <img src="/images/Android_logo.png" alt="">
                        <span>Android 版下载</span>
                    </button>
                `
                appendDom.before(btnDom)
            } else if (u.indexOf('iPhone') > -1) {//苹果手机
                alert("苹果手机")
                var btnDom = `
                    <button class="download-btn ios-download" type="button">
                        <img src="/images/ios_logo.png" alt="">
                        <span>iOS 版下载</span>
                    </button>
                `
                appendDom.before(btnDom)
            } else if (u.indexOf('Windows Phone') > -1) {//winphone手机
                alert("winphone手机")
                var btnDom = `
                    <button class="download-btn android-download" type="button">
                        <img src="/images/Android_logo.png" alt="">
                        <span>Android 版下载</span>
                    </button>
                `
                appendDom.before(btnDom)
            }
            
        }
    </script>
</html>