<header class="gm-navbar gm-navbar-light auto-hide-header">
    <div class="gm-navbar-left">
        <svg class="gm-icon gm-icon-drawer-handle gm-icon-md js-slideout-toggle" aria-hidden="true" style="z-index: 999">
            <use xlink:href="#icon-icon-arrow-left2"></use>
        </svg>
    </div>
    <div class="gm-navbar-title">FORUM</div>
    <div class="gm-navbar-right">
        <svg class="gm-icon gm-icon-search gm-icon-md" aria-hidden="true">
            <use xlink:href="#icon-sousuo1"></use>
        </svg>
    </div>
</header>