<header class="ghost-layout-header ghost-pro-layouts-header-fixedHeader clearfix web-header comments-header" id="web-header" style="padding: 0; width: 100%">
    <div class="ghost-pro-components-top-nav-header-index-head ghost-pro-components-top-nav-header-index-light">
        <div class="ghost-pro-components-top-nav-header-index-main ghost-pro-components-top-nav-header-index-wide">
            <div style="width: 100%; display:flex; justify-content: space-between">
                <div class="logo-box">
                    <div class="ghost-pro-components-top-nav-header-index-logo">
                        <a href="javascript:;">
                            <!-- <img/> -->
                            <!-- <h1 class="logo_img">GHOST</h1> -->
                            <h1 class="logo_img" style="color:#485ec0">FORUMS</h1>
                        </a>
                    </div>
                    <section class="ghost-pro-components-global-header-index-left">
                        <span class="ghost-input-search ghost-input-affix-wrapper" style="width: 500px">
                            <input type="text" id="search" placeholder="Search..." style="background-color: #ccc3" class="ghost-input ghost-input-round" onK>
                            <span class="ghost-input-suffix">
                                <svg class="iconSvg" aria-hidden="true" style="color: #485ec0">
                                    <use xlink:href="#icon-sousuo"></use>
                                </svg>
                            </span>
                        </span>
                    </section>
                </div>
                <div class="">
                    
                    <section class="ghost-pro-components-global-header-index-right" style="display: flex;justify-content: flex-end; align-items: center;">
                        <span class="ghost-pro-components-global-header-index-action ghost-pro-components-global-header-index-account ghost-dropdown-trigger">
                            <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-sm ghost-avatar-circle ghost-avatar-image langue-show">
                                <img src="/images/langue_zh.png">
                            </span>
                        </span>
                        <div class="user-lose-login">
                            <a href="/user/login" class="ghost-pro-components-global-header-index-action mg-r30">
                                <span style="color: #3c3c3c">LOGIN</span>
                            </a>
                            <button class="ghost-btn ghost-btn-round bd-ghost">
                                <span>JOIN US</span>
                            </button>
                        </div>
                        <div class="user-login">
                            <span class="ghost-pro-components-global-header-index-action ghost-pro-components-notice-icon-index-noticeButton ghost-dropdown-trigger mg-r30">
                                <span class="ghost-pro-components-notice-icon-index-badge ghost-badge">
                                    <svg class="iconSvg news_icon" aria-hidden="true">
                                        <use xlink:href="#icon-tongzhi"></use>
                                    </svg>
                                    <!-- <sup class="ghost-scroll-number ghost-badge-count ghost-badge-multiple-words">99</sup> -->
                                </span>
                            </span>
                            <span class="ghost-pro-components-global-header-index-action ghost-pro-components-global-header-index-account ghost-dropdown-trigger">
                                <span class="ghost-avatar ghost-pro-components-global-header-index-avatar ghost-avatar-sm ghost-avatar-circle ghost-avatar-image show-userinfo-dom">
                                    <!-- <img src="/images/header_icon.png"> -->
                                    <span class="geren-bg bd-radius-round header-random-color"></span>
                                </span>
                            </span>
                        </div>
                        <!-- <span class="ghost-pro-components-select-lang-index-dropDown ghost-pro-components-global-header-index-action ghost-dropdown-trigger">
                            <i class="anticon"></i>
                        </span> -->
                        <button class="ghost-btn ghost-btn-primary ghost-btn-round write-article" id="enterPublish">
                            <span>写文章</span>
                        </button>
                    </section>
                    <section class="ghost-drop-down">
                        <ul class="drop-down-list">
                            <li class="drop-down-item">个人资料</li>
                            <!-- <li class="drop-down-item">安全设置</li> -->
                            <li class="drop-down-item">我的帖子</li>
                            <li class="drop-down-item">我的回复</li>
                            <!-- <li class="drop-down-item">我的关注</li> -->
                            <li class="drop-down-item">我的收藏</li>
                            <!-- <li class="drop-down-item">我的积分</li> -->
                            <li class="drop-down-item">退出登录</li>
                        </ul>
                    </section>
                    <section class="langue-box">
                        <ul class="langue-list box-shadow bd-radius-5">
                            <li class="langue-item">
                                <img class="lan-icon" src="/images/langue_zh.png" alt="">
                                <span>中文</span>
                            </li>
                            <li class="langue-item">
                                <img class="lan-icon" src="/images/langue_usa.png" alt="">
                                <span>English</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="app-header comments-header">
    <section class="app-gohost-hearder">
        <div class="app-gohost-hearder-left ghost-avatar-image">
            <svg class="iconSvg" aria-hidden="true">
                <use xlink:href="#icon-fenlei"></use>
            </svg>
        </div>
        <div class="app-gohost-hearder-mid">FORUM</div>
        <div class="app-gohost-hearder-right">
            <div class="langue-icon">
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-geren5"></use>
                </svg>
            </div>
            <div class="search-icon">
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-sousuo1"></use>
                </svg>
            </div>
        </div>
    </section>
    <section class="ghost-drop-down app-ghost-drop-down">
        <div class="ghost-drop-box">
            <div class="mask-header-image bd-bottom">
                <svg class="iconSvg menu-tab" aria-hidden="true">
                    <use xlink:href="#icon-fenlei"></use>
                </svg>
            </div>
            <div class="user-sign bd-bottom ghost-avatar-image">
                <img class="user-header-icon" src="/images/header_icon.png">
                <span class="login-enty">登录/注册</span>
            </div>
            <ul class="drop-down-list">
                <li class="drop-down-item">个人资料</li>
                <!-- <li class="drop-down-item">安全设置</li> -->
                <li class="drop-down-item">我的帖子</li>
                <li class="drop-down-item">我的回复</li>
                <!-- <li class="drop-down-item">我的关注</li> -->
                <li class="drop-down-item">我的收藏</li>
                <!-- <li class="drop-down-item">我的积分</li> -->
                <li class="drop-down-item logout">退出登录</li>
            </ul>
        </div>
    </section>
</header>

<script type="text/javascript">
    const userId = $.cookie("userId");
    const nickName = $.cookie("nickName");
    $(".header-random-color").text(nickName.substring(0, 1)).css("background",renderColor(nickName));
    if (!userId) {
        // $(".ghost-btn-round").remove();
        let jionUs = `<button class="ghost-btn ghost-btn-primary ghost-btn-round" style="margin-right: 12px">
                            <span>JOIN US</span>
                    </button>`
        $(".ghost-pro-components-notice-icon-index-noticeButton").before(jionUs)
    } else {
        $(".user-lose-login").css("display", "none");
        $(".user-login").css("display", "block");
    }
    
    $("body").on("click", function() {
        $(".ghost-drop-down").hide();
        $(".langue-box").hide();
    })
    $(".langue-show").on("click", function(event) {
        event.stopPropagation();
        $(".langue-box").show();
        $(".ghost-drop-down").hide();
    })
    // change langue 
    $(".langue-list").on("click", ".langue-item", function(event) {
        event.stopPropagation();
        let showImg = $(this).find(".lan-icon").attr("src");
        $(".langue-show").find("img").attr("src", showImg);
        $(".langue-box").hide();
        // do something
    })
    // go to register page
    $(".ghost-btn-round").on("click", function(event) {
        event.stopPropagation();
        goPage('user/register');
    })

    // LOGIN or account infomation page
    $(".show-userinfo-dom").on("click", function(event) {
        event.stopPropagation();
        if (!userId) {
            goPage('user/login');
        } else {
            $(".ghost-drop-down").css("display", "block")
            $(".langue-box").hide();
        }
    })
    $(".app-ghost-drop-down").on("click", function(event) {
        event.stopPropagation();
        $(".ghost-drop-down").css("display", "none")
    })
    $(".mask-header-image").on("click", function(event) {
        event.stopPropagation();
        $(".ghost-drop-down").css("display", "none")
    })
    // go to reply page
    $(".news_icon").on("click", function(event) {
        event.stopPropagation();
        if(!userId){
             goPage('user/login')
        }else{
            goPage('account/reply/' + userId)
        }
    })
    $('#enterPublish').on('click', function(event) {
        event.stopPropagation()
        if (!userId) {
            goPage('user/login')
        } else {
            myAjax('POST', 'account/getUserInfo', { userId: userId }).then((res) => {
                if (res.activity) {
                    goPage('post/publish/')
                } else {
                    if (confirm('该账户还未进行验证，请先进行验证！')) {
                        let url = 'account/account/' + userId
                        goPage(url)
                    }
                }
            })
        }
    })
    // go home
    $(".logo_img").on("click", function(event) {
        event.stopPropagation();
        goPage('')
    })

    // go account module page
    $(".drop-down-list").on("click", ".drop-down-item", function(event) {
        event.preventDefault();
        let curTab = $(this).text();
        let url;
        switch(curTab) {
            case "个人资料":
                url = 'account/account/' + userId
                break
            case "安全设置":
                url = 'account/setting/' + userId
                break
            case "我的帖子":
                url = 'account/posts/' + userId
                break
            case "我的回复":
                url = 'account/reply/' + userId
                break
            // case "我的关注":
            //     url = 'account/focus/' + userId;
            //     break;
            case "我的收藏":
                url = 'account/collect/' + userId
                break
            // case "我的积分":
            //     url = 'account/account/' + userId;
            //     break; 
            case "退出登录":
                $.cookie('nickName', '', { expires: -1, path: '/' })
                $.cookie('userId', '', { expires: -1, path: '/' })
                url = ''
                break
            default:
                url = 'account/account/' + userId
                break
        }
        goPage(url)
    })

    // search keyword 
    $("#search").keydown(function(event){
        if (event.keyCode == 13) {
            let keyword = $(this).val();
            if (!keyword || keyword == '') return false;
            let url = 'post/search/' + keyword;
            goPage(url)
            console.log(keyword)
            
        }
    })
</script>
