<header class="ghost-layout-header ghost-pro-layouts-header-fixedHeader clearfix web-header comments-header web-display" id="web-header" style="padding: 0; width: 100%">
    <div class="ghost-pro-components-top-nav-header-index-head ghost-pro-components-top-nav-header-index-light">
        <div class="ghost-pro-components-top-nav-header-index-main ghost-pro-components-top-nav-header-index-wide">
            <div style="width: 100%; display:flex; justify-content: space-between">
                <div class="logo-box">
                    <div class="ghost-pro-components-top-nav-header-index-logo">
                        <a href="javascript:">
                            <!-- <img/> -->
                            <!-- <h1 class="logo_img">GHOST</h1> -->
                            <h1 class="ghost-index" style="color:#485ec0">FORUMS</h1>
                        </a>
                    </div>
                    <section class="ghost-pro-components-global-header-index-left">
                        <span class="ghost-input-search ghost-input-affix-wrapper" style="width: 500px">
                            <input type="text" id="search" placeholder="Search..." style="background-color: #ccc3" class="ghost-input ghost-input-round" onK>
                            <span class="ghost-input-suffix">
                                <svg class="iconSvg" aria-hidden="true" style="color: #485ec0">
                                    <use xlink:href="#icon-sousuo"></use>
                                </svg>
                            </span>
                        </span>
                    </section>
                </div>
                <nav class="ghost-pro-components-global-header-index-right" style="display: flex;justify-content: flex-end; align-items: center">
            </nav>
        </div>
    </div>
</header>
<header class="app-header comments-header app-display">
    <section class="app-gohost-hearder">
        <div class="app-gohost-hearder-left ghost-avatar-image">
            <svg class="iconSvg" aria-hidden="true">
                <use xlink:href="#icon-fenlei"></use>
            </svg>
        </div>
        <div class="app-gohost-hearder-mid">首页</div>
        <div class="app-gohost-hearder-right">
            <div class="lang-icon app-lang-dropdown">
                <ul class="app-lang-dropdown-list lang-menu">
                    <li class="app-lang-dropdown-item" data-value="cn">
                        <img src="https://image.flaticon.com/icons/svg/299/299914.svg">
                        <span class="app-ghost-dropDown-text">中文</span>   
                    </li>
                    <li class="app-lang-dropdown-item selected" data-value="en">
                        <img src="https://image.flaticon.com/icons/svg/299/299722.svg">
                        <span class="app-ghost-dropDown-text">En</span>      
                    </li>
                </ul>
            </div>
            <div class="search-icon">
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-sousuo1"></use>
                </svg>
            </div>
        </div>
    </section>
    <section class="ghost-drop-down app-ghost-drop-down">
        <div class="ghost-drop-box">
            <div class="app-mask-header-image bd-bottom">
                <svg class="iconSvg menu-tab" aria-hidden="true">
                    <use xlink:href="#icon-fenlei"></use>
                </svg>
            </div>
            <div class="bd-bottom ghost-avatar-image">

                <div class="user-headerIcon">
                    <div class="user-sign">
                        <img class="user-header-icon" src="/images/header_icon.png">
                        <span class="login-enty">登录/注册</span>
                    </div>
                </div>
                
            </div>
            <ul class="drop-down-list" id="accountMenu">
                <li class="drop-down-item account-dropdown-item" data-id='1'>个人中心</li>
                <!-- <li class="drop-down-item">安全设置</li> -->
                <li class="drop-down-item account-dropdown-item" data-id='2'>我的帖子</li>
                <li class="drop-down-item account-dropdown-item" data-id='3'>我的回复</li>
                <!-- <li class="drop-down-item">我的关注</li> -->
                <li class="drop-down-item account-dropdown-item" data-id='4'>我的收藏</li>
                <!-- <li class="drop-down-item">我的积分</li> -->
                <li class="drop-down-item account-dropdown-item logout" data-id='5'>退出登录</li>
            </ul>
        </div>
    </section>
</header>
<script type="text/javascript">
const userId = $.cookie("userId")
const nickName = $.cookie("nickName")
const lang = JSON.parse(localStorage.getItem('langData'))

let clearDropDownActive = () => {
    $('.ghost-dropdown-menu').each(function() {
        $(this).removeClass('active')
    })
}
$(document).ready(function(){
    let renderHtml, activity
    // init mudule
    if (userId) {
        renderHtml = `${accountModule}${noticeModule}`
        $('.user-sign').remove()
        // get user headerIcon
        myAjax("POST", 'account/getUserInfo', {nickName: nickName}, ).then((res) => {
            let headerDom
            if (res.code == 10000) {
                activity = res.activity
                localStorage.setItem('activity', res.activity)
                if (res.headerIcon) {
                    headerDom = `<img src=/${res.headerIcon}>`
                    $(".user-headerIcon").append(headerDom)
                } else {
                    headerDom = `
                        <span class="header-random-color" article-author="${$.cookie("nickName")}">${$.cookie("nickName").substring(0, 1)}</span>
                    `
                    $(".user-headerIcon").append(headerDom)
                    $(".header-random-color").each(function() {
                        const authorName = $(this).attr("article-author")
                        $(this).css("background",renderColor(authorName))
                    })
                }
            } else {
                headerDom = `
                    <span class="header-random-color" article-author="${$.cookie("nickName")}">${$.cookie("nickName").substring(0, 1)}</span>
                `
                $(".user-headerIcon").append(headerDom)
                $(".header-random-color").each(function() {
                    const authorName = $(this).attr("article-author")
                    $(this).css("background",renderColor(authorName))
                })
            }
            
        })
    } else {
        renderHtml = registerAndLoginModule
    }
    $('.ghost-pro-components-global-header-index-right').append(`${langModule}${renderHtml}${publishModule}`)

    $(document).on('click', function(e) {
        $('.account-dropdown, #accountMenu').removeClass('active') 
        $('.lang-dropdown, #langMenu').removeClass('active') 
        $('.app-lang-dropdown-list').removeClass('active')
    })

    // $(document).on('click', function(e) {
    //     $('.lang-dropdown, #langMenu').removeClass('active') 
    // })

    
    // open account menu dropDown
    $('.account-dropdown .ghost-current-value').on('click', function(e) {
        clearDropDownActive()
        e.stopPropagation()
        $(this).parent().toggleClass('active')
        setTimeout(function() {
            $('#accountMenu').toggleClass('active')
        }, 5)
    })
    
    // open lang dropDown
    $('.lang-dropdown .ghost-current-value').on('click', function(e){
        clearDropDownActive()   
        e.stopPropagation()
        $(this).parent().toggleClass('active')
        
        setTimeout(function(){
            $('#langMenu').toggleClass('active')
        }, 5)
    })

    let routerAddressFilter = value => {
            const address = {
                1: 'account',
                2: 'posts',
                3: 'reply',
                4: 'collect'
            } 
            return `account/${ address[value] }/${ nickName }`
        }

    // select account menu page
    $('#accountMenu .account-dropdown-item').on('click', function() {
        $(this).addClass('selected').siblings().removeClass('selected')
        $('#accountMenu').removeClass('active')
        const routerId = $(this).attr('data-id')
        if (routerId == 5) {
            $.cookie('nickName', '', { expires: -1, path: '/' })
            $.cookie('userId', '', { expires: -1, path: '/' })
            goPage('user/login')
        } else {
            const url = routerAddressFilter($(this).attr('data-id'))
            goPage(url)
        }
    })

    // select lang
    $('#langMenu .lang-item').on('click', function(){
        $(this).addClass('selected').siblings().removeClass('selected')
        $('#langMenu').removeClass('active')
        
        const LANGIMG = $(this).find('img').attr('src')   
        const LANG = $(this).attr('data-value')
        
        $('.lang-current-value .ghost-dropDown-text').text(LANG)
        $('.lang-current-value img').attr('src', LANGIMG)
        $('.lang-current-value img').attr('data-value', LANG)
        const langData = {
            src: LANGIMG,
            lang: LANG
        }
        localStorage.setItem('langData', JSON.stringify(langData))
    })

    $('#loginBtn').on('click', function(e) {
        e.stopPropagation()
        goPage('user/login')
    })

    $('#registerBtn').on('click', function(e) {
        e.stopPropagation()
        goPage('user/register')
    })

    // enter notice page
    $('#enterNotice').on('click', function(e) {
        e.stopPropagation()
        let url
        if (userId) {
            url = `account/reply/${nickName}`
        } else {
            url = 'user/login'
        } 
        goPage(url)
    })

    // enter publish page
    $('#enterPublish').on('click', function(event) {
        event.stopPropagation()
        if ($.cookie("userId")) {
            if (activity) {
                goPage('post/publish/')
            } else {
                if (confirm('该账户还未进行验证，请先进行验证！')) {
                    let url = 'account/account/' + nickName
                    goPage(url)
                }
            }
        } else {
            goPage('user/login')
        }
    })

    // refresh index page 
    $('.ghost-index').on("click", function(e) {
        e.stopPropagation()
        goPage('')
    })

    // search keyword 
    $("#search").keydown(function(event){
        if (event.keyCode == 13) {
            let keyword = $(this).val()
            if (!keyword || keyword == '') return false
            let url = 'post/search/' + keyword
            goPage(url)
        }
    })
    if (lang) {
        $('.lang-current-value .ghost-dropDown-text').text(lang.lang)
        $('.lang-current-value img').attr('src', lang.src)
        $('.app-lang-dropdown-list').before(`<img src="${lang.src}" data-value="${lang.lang}">`)
        $('.lang-menu li').each(function() {
            if ($(this).attr('data-value') == lang.lang) {
                $(this).addClass('selected').siblings().removeClass('selected')
            }
        })
    } else {
        $('.app-lang-dropdown-list').before(`<img src="https://image.flaticon.com/icons/svg/299/299722.svg" data-value="en">`)
    }
    // ------------------------webApp------------------------
    // show left menu
    $('.app-gohost-hearder-left').on('click', function() {
        $(".app-ghost-drop-down").css("display", "block")
    })

    $(".app-ghost-drop-down").on("click", function(event) {
        event.stopPropagation()
        $(".app-ghost-drop-down").css("display", "none")
    })
    $(".app-mask-header-image").on("click", function(event) {
        event.stopPropagation()
        $(".app-ghost-drop-down").css("display", "none")
    })
    // user sign
    $('.user-sign').on('click', function(e) {
        event.stopPropagation()
        goPage('user/login')
    })
    // app select lang
    $('.app-lang-dropdown').on('click', function(e) {
        event.stopPropagation()
        $('.app-lang-dropdown-list').toggleClass('active')
    })
    $('.app-lang-dropdown-list .app-lang-dropdown-item').on('click', function(e) {
        event.stopPropagation()
        $(this).addClass('selected');
        $(this).siblings().removeClass('selected')
        $('.app-lang-dropdown-list').removeClass('active')
        const LANGIMG = $(this).find('img').attr('src') 
        const LANG = $(this).attr('data-value')
        $('.app-lang-dropdown-list').prev('img').attr('src', LANGIMG)
        const langData = {
            src: LANGIMG,
            lang: LANG
        }
        localStorage.setItem('langData', JSON.stringify(langData))
    })
    
})


    if (nickName) {
        $(".header-random-color").text(nickName.substring(0, 1)).css("background",renderColor(nickName))
    }

    let publishModule = `<button style="margin-left: 16px" class="ghost-btn ghost-btn-primary" id="enterPublish">
                            <span>写文章</span>
                        </button>`

    let registerAndLoginModule = `
                            <li class='user-state' style='list-style:none;display:flex;justify-content: space-between;align-items: center'>
                                <button style="margin-right: 8px; padding: 0 12px" class="ghost-btn ghost-btn-text" id="loginBtn">
                                    <span>LOGIN</span>
                                </button>

                                <button class="ghost-btn " id="registerBtn">
                                    <span>JOIN US</span>
                                </button>
                            </li>`
    
    let langModule = `<li style="margin-right: 55px; padding: 0" class="ghost-pro-components-select-lang-index-dropDown ghost-pro-components-global-header-index-action ghost-dropdown-trigger">
                        <div class="ghost-dropDown lang-dropdown">
                            <div class="ghost-current-value lang-current-value">
                                <div class="ghost-dropDown-item">
                                    <img src="https://image.flaticon.com/icons/svg/299/299722.svg">
                                    <span class="ghost-dropDown-text">EN</span> 
                                </div>
                            </div>
                            <ul class="ghost-dropdown-menu lang-menu" id="langMenu">
                                <li class="ghost-dropDown-item lang-item gutter-pd16" data-value='cn'>
                                    <img src="https://image.flaticon.com/icons/svg/299/299914.svg">
                                    <span class="ghost-dropDown-text">简体中文</span>      
                                </li>
                                
                                <li class="ghost-dropDown-item lang-item gutter-pd16 selected" data-value='en'>
                                    <img src="https://image.flaticon.com/icons/svg/299/299722.svg">
                                    <span class="ghost-dropDown-text">English<span> (US)</span></span>      
                                </li>
                                
                            </ul>
                        </div>
                    </li>`
                            
    let accountModule = `<li style="margin: 0 32px 0 0;padding-left:0" class="ghost-pro-components-global-header-index-action ghost-pro-components-global-header-index-account ghost-dropdown-trigger">
                        <div class="ghost-dropDown account-dropdown" style="padding: 0 12px">
                            <div class="ghost-current-value">
                                <div class="ghost-dropDown-item user-headerIcon"></div>
                            </div>
                            
                            <ul class="ghost-dropdown-menu" id="accountMenu">
                                <li class="ghost-dropDown-item account-dropdown-item gutter-pd16" data-id='1'>
                                    <svg class="iconSvg primary" aria-hidden="true">
                                        <use xlink:href="#icon-gerenziliao"></use>
                                    </svg>
                                    <span class="ghost-dropDown-text">个人资料</span>      
                                </li>
                                <li class="ghost-dropDown-item account-dropdown-item gutter-pd16" data-id='2'>
                                    <svg class="iconSvg primary" aria-hidden="true">
                                        <use xlink:href="#icon-tiezi"></use>
                                    </svg>
                                    <span class="ghost-dropDown-text">我的帖子</span>
                                </li>
                                <li class="ghost-dropDown-item account-dropdown-item gutter-pd16" data-id='3'>
                                    <svg class="iconSvg primary" aria-hidden="true">
                                        <use xlink:href="#icon-huifu"></use>
                                    </svg>
                                    <span class="ghost-dropDown-text">我的回复</span>      
                                </li>
                                <li class="ghost-dropDown-item account-dropdown-item gutter-pd16" data-id='4'>
                                    <svg class="iconSvg primary" aria-hidden="true">
                                        <use xlink:href="#icon-unie601"></use>
                                    </svg>
                                    <span class="ghost-dropDown-text">我的收藏</span>      
                                </li>
                                <li class="ghost-dropDown-item account-dropdown-item gutter-pd16" data-id='5'>
                                    <svg class="iconSvg primary" aria-hidden="true">
                                        <use xlink:href="#icon-abort"></use>
                                    </svg>
                                    <span class="ghost-dropDown-text">退出登录</span>      
                                </li>
                                
                            </ul>
                        </div>
                    </li>`
        let noticeModule = `<li id="enterNotice" class="ghost-pro-components-global-header-index-action ghost-pro-components-notice-icon-index-noticeButton ghost-dropdown-trigger">
                                <span class="ghost-pro-components-notice-icon-index-badge ghost-badge">
                                    <svg class="iconSvg" aria-hidden="true">
                                        <use xlink:href="#icon-tongzhi"></use>
                                    </svg>
                                    <sup class="ghost-scroll-number ghost-badge-dot"></sup>
                                </span>
                            </li>`
</script>
