<div class="ghost-list ghost-list-vertical ghost-list-split">
    <div class="ghost-spin-nested-loading">
        <div class="ghost-spin-container">
            <div class="ghost-list-item">
                <div class="ghost-list-item-main">
                    <div class="ghost-list-item-meta">
                        <div class="ghost-list-item-meta-avatar">
                            <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image ghost-avatar-lg">
                                <img src="/images/header_icon.png">
                            </span>
                        </div>
                        <div class="ghost-list-item-meta-content">
                            <h4 class="ghost-list-item-meta-title">
                                <a href="javascript:;">this is Name</a>
                            </h4>
                            <div class="ghost-list-item-meta-description">
                                简介简介简介简介简介简介简介简介简介简介简介简介简介简介
                            </div>
                            <ul class="ghost-list-item-action">
                                <li>
                                    <span>
                                        <i></i>
                                    </span>
                                    <em class="ghost-list-item-action-split"></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ghost-list-item-extra">
                    <ul class="ghost-list-item-action">
                        <li>
                            <span>
                                <i></i>
                            </span>
                            <em class="ghost-list-item-action-split"></em>
                        </li>
                    </ul>
                    <button style="width: 100px" class="ghost-btn ghost-btn-primary">关注</button>
                </div>
            </div>
            <div class="ghost-list-item">
                    <div class="ghost-list-item-main">
                        <div class="ghost-list-item-meta">
                            <div class="ghost-list-item-meta-avatar">
                                <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image ghost-avatar-lg">
                                    <img src="/images/header_icon.png">
                                </span>
                            </div>
                            <div class="ghost-list-item-meta-content">
                                <h4 class="ghost-list-item-meta-title">
                                    <a href="javascript:;">this is Name</a>
                                </h4>
                                <div class="ghost-list-item-meta-description">
                                    简介简介简介简介简介简介简介简介简介简介简介简介简介简介
                                </div>
                                <ul class="ghost-list-item-action">
                                    <li>
                                        <span>
                                            <i></i>
                                        </span>
                                        <em class="ghost-list-item-action-split"></em>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ghost-list-item-extra">
                        <ul class="ghost-list-item-action">
                            <li>
                                <span>
                                    <i></i>
                                </span>
                                <em class="ghost-list-item-action-split"></em>
                            </li>
                        </ul>
                        <button style="width: 100px" class="ghost-btn ghost-btn-primary">关注</button>
                    </div>
            </div>
            <div class="ghost-list-item">
                <div class="ghost-list-item-main">
                    <div class="ghost-list-item-meta">
                        <div class="ghost-list-item-meta-avatar">
                            <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image ghost-avatar-lg">
                                <img src="/images/header_icon.png">
                            </span>
                        </div>
                        <div class="ghost-list-item-meta-content">
                            <h4 class="ghost-list-item-meta-title">
                                <a href="javascript:;">this is Name</a>
                            </h4>
                            <div class="ghost-list-item-meta-description">
                                简介简介简介简介简介简介简介简介简介简介简介简介简介简介
                            </div>
                            <ul class="ghost-list-item-action">
                                <li>
                                    <span>
                                        <i></i>
                                    </span>
                                    <em class="ghost-list-item-action-split"></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ghost-list-item-extra">
                    <ul class="ghost-list-item-action">
                        <li>
                            <span>
                                <i></i>
                            </span>
                            <em class="ghost-list-item-action-split"></em>
                        </li>
                    </ul>
                    <button style="width: 100px" class="ghost-btn ghost-btn-primary">
                        <span>取消关注</span>
                    </button>
                </div>
            </div>
            <div class="ghost-list-item">
                <div class="ghost-list-item-main">
                    <div class="ghost-list-item-meta">
                        <div class="ghost-list-item-meta-avatar">
                            <span class="ghost-avatar ghost-avatar-circle ghost-avatar-image ghost-avatar-lg">
                                <img src="/images/header_icon.png">
                            </span>
                        </div>
                        <div class="ghost-list-item-meta-content">
                            <h4 class="ghost-list-item-meta-title">
                                <a href="javascript:;">this is Name</a>
                            </h4>
                            <div class="ghost-list-item-meta-description">
                                简介简介简介简介简介简介简介简介简介简介简介简介简介简介
                            </div>
                            <ul class="ghost-list-item-action">
                                <li>
                                    <span>
                                        <i></i>
                                    </span>
                                    <em class="ghost-list-item-action-split"></em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ghost-list-item-extra">
                    <ul class="ghost-list-item-action">
                        <li>
                            <span>
                                <i></i>
                            </span>
                            <em class="ghost-list-item-action-split"></em>
                        </li>
                    </ul>
                    <button style="width: 100px" class="ghost-btn ghost-btn-primary">关注</button>
                </div>
            </div>
        </div>
    </div>
</div>