<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/forum/forum.css">
    <% include ../common/script %>
    
  </head>
  <body>
    <div id="root">
        <div class="ghost-layout">
            <% include ../common/header %>
            <div class="ghost-pro-layouts-basic-layout-content ghost-layout-content">
                <div class="ghost-pro-components-page-header-wrapper-grid-content-main ghost-pro-components-page-header-wrapper-grid-content-wide">
                    <div class="ghost-row ghost-row-flex">
                        <div class="ghost-col-xs-24 ghost-col-sm-24 ghost-col-md-24 ghost-col-lg-24 ghost-col-xl-18" style="padding-right: 16px">
                            <% include ../articles/topicDetail %>
                        </div>
                        <div class="ghost-col-xs-24 ghost-col-sm-24 ghost-col-md-24 ghost-col-lg-24 ghost-col-xl-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        
    </script>
</body>
</html>