<div class="ghost-card">
    <dvi class="ghost-card-body">
        
    </dvi>
    <!--<ul class="ghost-list-item-action" style="margin: 8px 0 0">
        <li>
            <span>
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-liulan"></use>
                </svg>
                256
            </span>
            <em class="ghost-list-item-ghostion-split"></em>
        </li>
        <li>
            <span>
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-iconfontedit"></use>
                </svg>
                128
            </span>
            <em class="ghost-list-item-ghostion-split"></em>
        </li>
        <li>
            <span>
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-unie601"></use>
                </svg>
                128
            </span>
            <em class="ghost-list-item-ghostion-split"></em>
        </li>
        <li>
            <span>
                <svg class="iconSvg" aria-hidden="true">
                    <use xlink:href="#icon-shoucang"></use>
                </svg>
                128
            </span>
        </li>
    </ul>-->
</div>