<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/style/account/account.css">
        <link rel="stylesheet" href="/style/common/avatar.css">
        <link rel="stylesheet" href="/style/account/appChangeUserInfo.css">
        <script type="text/javascript" src="/js/lang/zh.js"></script>
        <script type="text/javascript" src="/js/lang/en.js"></script>
        <% include ../../common/script %>
        
    </head>
    <body>
        <div class="app-change-userInfo-page">
            <% include ../../common/appHeader %>
            <section class="">
                <form class="ghost-form ghost-form-horizontal" id="appChangePw">
                    <div class="ghost-form-item">
                        <div class="ghost-form-item-label">
                            <label for="oldPassword" class="new－ghost-form-item-required" title="old-password" lang="oldPassword">旧密码</label>
                        </div>
                        <div class="ghost-form-item-control-wrapper">
                            <div class="ghost-form-item-control">
                                <div class="ghost-form-item-children">
                                    <input type="password" placeholder="Please enter the old password" required name="oldPassword" id="oldPassword" class="ghost-input ghost-input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ghost-row ghost-form-item">
                        <div class="ghost-form-item-label">
                            <label for="newPassword" class="new－ghost-form-item-required" title="New Password" lang="newPassword">新密码</label>
                        </div>
                        <div class="ghost-form-item-control-wrapper">
                            <div class="ghost-form-item-control">
                                <div class="ghost-form-item-children">
                                    <input type="password" placeholder="Please enter a new password" required name="newPassword" id="newPassword" class="ghost-input ghost-input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ghost-row ghost-form-item">
                        <div class="ghost-form-item-label">
                            <label for="confirmPassword" class="new－ghost-form-item-required" title="Confirm Password" lang="confirmPassword">确认密码</label>
                        </div>
                        <div class="ghost-form-item-control-wrapper">
                            <div class="ghost-form-item-control">
                                <div class="ghost-form-item-children">
                                    <input type="password" placeholder="Please confirm your password" required name="confirmPassword" id="confirmPassword" class="ghost-input ghost-input-lg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="app-footer app-display">
                        <button type="submit" class="app-btn ghost-btn-primary btn_submit" lang="confirmChange">确认修改</button>
                    </footer>
                </form>
            </section>
            
        </div>
    </body>
    <script src="/js/jquery.imgareaselect.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="https://cdn.bootcss.com/rxjs/6.4.0/rxjs.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.0-beta.12/Rx.min.js"></script>
    <script type="text/javascript">
        $(function() {
            // app title
            if (localStorage.getItem('langData') && JSON.parse(localStorage.getItem('langData')).lang == 'en') {
                $('.app-page-title').text('Change PassWord')
            } else {
                $('.app-page-title').text('修改密码')
            }
            $("#appChangePw").validate({
                debug: true,
                submitHandler: function(form) {
                    const params = {
                        userId: $.cookie("userId"),
                        oldPassword: $('#oldPassword').val(),
                        passWordOne: $('#newPassword').val(),
                        passWordTwo: $('#confirmPassword').val()
                    }
                    myAjax("POST", "account/resetPassword", params).then((res) => {
                        layer.msg(res.message)
                        if (res.code == 10000) {
                            setTimeout(function() {
                                history.go(-1)
                            }, 2000)
                        }
                    })
                },
                onfocusin: function(element) { $(element).valid() },
                onfocusout: function(element) { $(element).valid() },
                onkeyup: function(element) { $(element).valid() },
                focusInvalid: function(element) { $(element).valid() },
                errorElement: 'div',
                errorClass:"ghost-form-explain",
                highlight: function(element, errorClass, validClass) {
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).addClass("ghost-form-explain")
                    $(elementId).parent().addClass('has-error')
                },
                unhighlight:function(element, errorClass){
                    const elementId = $(`#${element.id}-error`)
                    $(elementId).parent().removeClass('has-error').addClass('has-success')
                    $(elementId).parents().removeClass('ghost-form-item-with-help')
                },
                rules: {
                    oldPassword: {
                        required: true,
                        minlength: 6
                    },
                    newPassword: {
                        required: true,
                        minlength: 6
                    },
                    confirmPassword: {
                        required: true,
                        minlength: 6,
                        equalTo: "#newPassword"
                    },
                },
                messages: {
                    oldPassword: {
                        required: "请输入旧密码",
                        minlength: "旧密码长度不能小于 6 位数"
                    },
                    newPassword: {
                        required: "请输入新密码",
                        minlength: "新密码长度不能小于 6 位数"
                    },
                    confirmPassword: {
                        required: "请再次输入密码",
                        minlength: "密码长度不能小于 6 位数",
                        equalTo: "两次密码输入不一致"
                    }
                }
            }) 
            translateFun()
        })
    </script>
</html>