<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/style/login/login.css">
    <% include ../common/script %>
    <style>
        .ghost-form-item {
            margin-bottom: 0;
            height: 65px;
            text-indent: 12px;
        }
    </style>
  </head>
  <body>
    <div id="root">
        <div class="ghost-pro-layouts-user-layout-container">
            <section class="ghost-pro-layouts-user-layout-lang"></section>
            <section class="ghost-pro-layouts-user-layout-content">
                <div class="ghost-pro-layouts-user-layout-top">
                    <div class="ghost-pro-layouts-user-layout-header">
                        <a href="javascript:;">
                            <img class="ghost-pro-layouts-user-layout-logo" />
                            <span class="ghost-pro-layouts-user-layout-title">LOGO</span>
                        </a>
                    </div>
                    <div class="ghost-pro-layouts-user-layout-desc"></div>
                </div>
                <main class="ghost-pro-pages-user-login-main">
                    <section class="ghost-pro-components-login-index-login">
                        <form class="ghost-form" id="registerForm">
                            <div class="ghost-tabs-nav-wrap">
                                <div class="ghost-tabs-nav nav_text_algin">
                                    <div class="ghost-tabs-tab" id="enterLoginPage">SIGN IN</div>
                                    <div class="ghost-tabs-tab ghost-tabs-tab-active">RESET</div>
                                </div>
                            </div>
                            <div class="ghost-row ghost-form-item">
                                <div class="ghost-form-item-control-wrapper">
                                    <div class="ghost-form-item-control">
                                        <input type="email" id="email" name="email" required placeholder="Your Emial" class="ghost-input ghost-input-round ghost-input-lg user_name">
                                    </div>
                                </div>
                            </div>
                            <div class="ghost-row ghost-form-item">
                                <div class="ghost-form-item-control-wrapper">
                                    <div class="ghost-form-item-control">
                                        <input type="password" id="password" name="password" placeholder="Your Password" class="ghost-input ghost-input-round ghost-input-lg user_passwordOne">
                                    </div>
                                </div>
                            </div>
                            <div class="ghost-row ghost-form-item">
                                <div class="ghost-form-item-control-wrapper">
                                    <div class="ghost-form-item-control">
                                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Your Password" class="ghost-input ghost-input-round ghost-input-lg user_passwordTwo">
                                    </div>
                                </div>
                            </div>
                            <div class="ghost-row ghost-form-item code_box">
                                <div class="identifying_code">
                                    <input class="code_input ghost-input ghost-input-round ghost-input-lg" name="code" id="code" placeholder="Your Code" type="text">
                                </div>
                                <button class="code_btn ghost-btn ghost-btn-primary ghost-btn-lg ghost-btn-round"  type="button">发送</button>
                            </div>
                            <div class="ghost-row ghost-form-item">
                                <div class="ghost-form-item-control-wrapper">
                                    <div class="ghost-form-item-control">
                                        <button style="width: 100%" class="ghost-btn ghost-btn-primary ghost-btn-lg ghost-btn-round">
                                            <span>RESET</span>    
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </main>
            </section>
            <div class="tip-box"></div>
            <footer class="ghost-pro-components-global-footer-index-globalFooter">
                <div class="ghost-pro-components-global-footer-index-copyright"></div>
            </footer>
        </div>
    </div>
  </body>
  <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
  <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
  <script src="https://cdn.bootcss.com/rxjs/6.4.0/rxjs.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.0-beta.12/Rx.min.js"></script>
  <script>
    window.httphijack.init()
    $.validator.setDefaults({
        debug: false, // 调试模式设为true 只验证不提交form 
        submitHandler: function(form) {
            registerFormSubmitHandler()
        }
    })
    async function registerFormSubmitHandler() {
        const params = {
            userId: $('#email').val(),
            passWordOne: $('#password').val(),
            passWordTwo: $('#confirm_password').val(),
            code: $("#code").val()
        }
        myAjax('POST',  'account/resetPassword', params).then((res) => {
            $(".tip-box").css("display", "block").text(res.message);
            if (res.code == 1) {
                $.cookie('userId',res.userId, { expires:7, path: '/' });
                setTimeout(function() {
                    $(".tip-box").css("display", "none");
                    goPage('');
                }, 2000);
            } else {
                setTimeout(function() {
                    $(".tip-box").css("display", "none");
                }, 2000);
                console.log('请求失败！')
            }
        });
    }

    $().ready(function() {
        // send email
        let limitMany = false;
        $(".code_btn").on("click", function() {
            let email = $('#email').val();
            if (!email) {
                $(".tip-box").css("display", "block")
                $(".tip-box").append('<div>邮箱不能为空！</div')
                setTimeout(function() {
                    $(".tip-box").css("display", "none");
                }, 2000);
                return false;
            }
            if (limitMany) {
                alert("您操作太频繁了，请歇会再发送");
                return false;
            }
            limitMany = true;
            let param = {
                type: 0,
                email: email
            }
            setTimeout(function() {
                limitMany = false;
            }, 60000)
            console.log(111, param)
            myAjax("POST", 'account/validateEmail', param).then((res) => {
                $(".tip-box").css("display", "block").text(res.message);
                if (res.code == 1) {
                    setTimeout(function() {
                        $(".tip-box").css("display", "none");
                        goPage('');
                    }, 2000);
                } else {
                    setTimeout(function() {
                        $(".tip-box").css("display", "none");
                    }, 2000);
                }
                
            })
        });
        $("#registerForm").validate({
            onfocusin: function(element) { $(element).valid() },
            onfocusout: function(element) { $(element).valid() },
            onkeyup: function(element) { $(element).valid() },
            focusInvalid: function(element) { $(element).valid() 
                console.log('focusInvalid' + element.id)
            },
            errorElement: 'div',
			errorClass:"ghost-form-explain",
			highlight: function(element, errorClass, validClass) {
                const elementId = $(`#${element.id}-error`)
                // $(elementId).parents().addClass('ghost-form-item-with-help')
                $(elementId).addClass("ghost-form-explain")
                $(elementId).parent().addClass('has-error')
            },
            unhighlight:function(element, errorClass){
                const elementId = $(`#${element.id}-error`)
                $(elementId).parent().removeClass('has-error').addClass('has-success')
                $(elementId).parents().removeClass('ghost-form-item-with-help')
            },
            rules: {
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password: {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                },
                code: {
                    required: true,
                }
            },
            messages: {
                password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 6 位数"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于 6 位数",
                    equalTo: "两次密码输入不一致"
                },
                email: "请输入绑定的的邮箱",
                code: "请输入验证码"
            }
        });
        $('#enterLoginPage').on('click', () => {
            goPage('user/login');
        })
    });
    
            
  </script>

</html>