.login_page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: var(--font-f);
    background: url('../../libs/images/Background.png') no-repeat center center;
}
.login_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 360px;
}
.logo_img {
    line-height: 21px;
    font-size: var(--fs-28);
    text-align: center;
}
.user_type {
    display: flex;
    padding-left: 76px;
    margin: 68px 0 25px;
    justify-content: flex-start;
    align-items: center;
}
.nav_text_algin {
    display: flex;
    justify-content: center;
}
#enterLoginPage {
    margin-left: 0;
}
.sign, .register {
    position: relative;
    font-size: var(--fs-12);
	line-height: 15px;
	letter-spacing: 0px;
	color: var(--line-col);
}
.register {
    margin-left: 86px;
}
.actived {
    color: var(--btn-col);
}
.bd_bottom {
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--btn-col);
}
.limit_tip {
    margin-bottom: 15px;
    font-size: var(--fs-12);
    text-indent: 24px;
    color: var(--col-tip);
}
.error_col {
    border: 1px solid var(--col-tip);
}
.btn_box {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-12);
}   
.sign_btn {
    width: 150px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    color: var(--white);
    background: var(--btn-col);
}
.register_btn {
    width: 100%;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border-radius: 50px;
    color: var(--white);
    background: var(--btn-col);
}
.lost_pass {
    color: var(--col-95);
}

#root {
    height: 100%;
}

.ghost-pro-layouts-user-layout-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
	background: #f0f2f5
}

.ghost-pro-layouts-user-layout-content {
	flex: 1 1;
	padding: 8em 0
}

.ghost-pro-layouts-user-layout-lang {
	width: 100%;
	height: 40px;
	line-height: 44px;
	text-align: right
}

.ghost-pro-layouts-user-layout-lang .ghost-dropdown-trigger {
	margin-right: 24px
}

.ghost-pro-layouts-user-layout-top {
	text-align: center
}

.ghost-pro-layouts-user-layout-header {
	height: 44px;
	line-height: 44px
}

.ghost-pro-layouts-user-layout-header a {
	text-decoration: none
}

.ghost-pro-layouts-user-layout-logo {
	height: 44px;
	margin-right: 16px;
	vertical-align: top
}

.ghost-pro-layouts-user-layout-title {
	position: relative;
	top: 2px;
	color: rgba(0,0,0,.85);
	font-weight: 600;
	font-size: 33px;
}

.ghost-pro-layouts-user-layout-desc {
	margin-top: 12px;
	margin-bottom: 40px;
	color: rgba(0,0,0,.45);
	font-size: 14px
}

.ghost-pro-pages-user-login-main {
    width: 388px;
    margin: 0 auto;
}

.ghost-pro-components-global-footer-index-globalFooter {
    margin: 48px 0 24px;
    padding: 0 16px;
    text-align: center;
}
.ghost-pro-components-global-footer-index-globalFooter .ghost-pro-components-global-footer-index-copyright {
    color: rgba(0,0,0,.45);
    font-size: 14px;
}
.ghost-pro-pages-user-login-password {
    float: right;
}
.ghost-pro-pages-user-login-password span {
    color: var(--col-999)
}

.ghost-tabs-nav-wrap {
    overflow: hidden;
}
.ghost-tabs-nav {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    list-style: none;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
}
.ghost-tabs-nav .ghost-tabs-tab {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 12px 24px;
    margin-left: 18px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s cubic-bezier(.645, .045, .355, 1);
    transition: color .3s cubic-bezier(.645, .045, .355, 1);
}
.ghost-tabs-nav .ghost-tabs-tab-active {
    color: var(--btn-col);
    font-weight: 500;
}
.tip-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px 30px;
    transform: translateX(-50%) translateY(50%);
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    background: rgba(0,0,0,.7);
}
.code_box {
    display: flex;
    justify-content: space-between;
}
.ghost-form-item > .identifying_code {
    flex-grow: 1;
    text-indent: 0;
}
.identifying_code > .code_input {
    outline: none;
    line-height: 36px;
    border: 1px solid var(--col-e9);
    border-radius: 5px;
}
.code_box > .code_btn { 
    margin-left: 50px;
    width: 100px;
    outline: none;
    line-height: 36px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--btn-col);
    border-color: var(--withPhone);
}

@media screen and (max-width: 576px) {
    .ghost-pro-pages-user-login-main {
        width: 85%;
    }
}

@media (min-width:768px) {
	.ghost-pro-layouts-user-layout-container {
		background-image: url('../../libs/images/Background.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%
    };
    .ghost-pro-layouts-user-layout-content {
        padding: 32px 0px 24px;
    }
}
.check-name {
    line-height: 20px;
    text-indent: 20px;
    color: red;
}